.nav,
.nav-alt {
  display: flex;
  margin: 0;
  height: auto;
  align-items: center;
  color: #dcecfc;
  gap: 20px;
  font-size: large;
  font-weight: 400;
  justify-content: space-between;
}

.container-img {
  overflow: hidden;
  width: 30px;
  height: 30px;
}
.container-img img {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.3);
}

.menu-btn,
.adm-btn {
  display: flex;
  gap: 5px;
  cursor: pointer;
  padding: 4px;
}

.menu-btn:hover,
.adm-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  transition: all 0.2s;
  align-items: center;
}
.adm-btn {
  float: right;
  right: 0;
}

.content-body {
  display: flex;
  width: 100%;
}

.drawer {
  display: flex;
  width: 60px;
  min-height: 90vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
}

.drawer-extend {
  width: 200px;
  transition: all 0.5s;
}

.drawer AbcIcon {
  font-size: 10rem;
}

.name-btn {
  display: none;
}

.name-btn-visible {
  display: flex;
}

.btn-drawer {
  display: flex;
  padding: 4px;
  border-radius: 8px;
}

.btn-drawer:hover {
  display: flex;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}

#WestIcon-l {
  color: red;
}

#WestIcon-r {
  transform: rotate(180deg);
  color: green;
}
